<%- include ('../partials/header.ejs') %> <%- include
('../partials/main_nav.ejs') %>

<main class="container">
  <div class="row">
    <div class="col md-10">
      <h1 style="color: #31bebe">Show all the survey responses</h1>
      <br />
      <a href="/surveys/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i>

        Add new survey response
      </a>
      <br />
      <br />
      <table
        class="table table-bordered table-striped table-hover"
        style="background-color: white"
      >
        <tr>
          <th class="text-center col-1">Person Name</th>
          <th class="text-center col-1">Email Id</th>
          <th class="text-center col-1">clothing catgeory</th>
          <th class="text-center col-1">size</th>
          <th class="text-center col-1">Fav Brand</th>
          <th class="text-center col-2">casual/fashion</th>
          <th class="text-center col-3">Comments</th>
          <th class="text-center col-1">Edit</th>
          <th class="text-center col-1">Delete</th>
        </tr>

        <% SurveyResponseList.sort((a, b) => (a.personName ||
        '').toString().localeCompare((b.personName ||
        '').toString())).forEach(response => { %>
        <tr>
          <td class="text-center col-1"><%= response.personName; %></td>
          <td class="text-center col-1"><%= response.emailId; %></td>
          <td class="text-center col-1"><%= response.currentStatus %></td>
          <td class="text-center col-1">
            <%= response.unemploymentDuration; %>
          </td>
          <td class="text-center col-1">
            <%= response.reasonForUnemployment %>
          </td>
          <td class="text-center col-2">
            <%= response.mentalHealthOnUnemployment %>
          </td>
          <td class="text-center col-3">
            <%= response.localActionOnUnemployment %>
          </td>
          <td class="text-center col-1">
            <a href="/surveys/edit/<%= response._id %>" class="btn btn-primary">
              <i class="fas fa-pencil alt"></i>
            </a>
          </td>
          <td class="text-center col-1">
            <a
              href="/surveys/delete/<%= response._id %>"
              class="btn btn-danger"
            >
              <i class="fas fa-trash alt"></i>
            </a>
          </td>
        </tr>
        <% }) %>
      </table>
      <br />
      <br />
      <br />
    </div>
  </div>
</main>

<%- include ('../partials/footer_nav.ejs') %> <%- include
('../partials/footer.ejs') %>
